{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "no-console": "error",
    "no-restricted-globals": "error",
    "@typescript-eslint/explicit-function-return-type": "error",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 120,
        "semi": true
      }
    ]
  }
}
